*.pyc
p/bin
p/include/python2.7
p/.Python
p/lib/python2.7
src/ghostdriver.log
p/pip-selfcheck.json
.DS_Store
src/.DS_Store
src/screen_afterLogin.png
src/test/ghostdriver.log
src/test/screen.png
src/test/screen_enterKenteken.png
src/test/screen_enterKenteken2.png
src/test/screen_openPage.png
.project
.pydevproject
src/codes.ini
src/config.py
src/screen_enterKenteken.png
src/screen_enterKenteken2.png
src/screen_openPage.png
ghostdriver.log
screen_afterLogin.png
screen_enterKenteken.png
screen_enterKenteken2.png
screen_openPage.png
src/screen.png